@font-face {
    font-family: siteFont;
    src: url(BrandaRegular.woff) format("woff"), 
    url(BrandaRegular.woff2) format("woff2");
}

body{
    margin: 0;
    background-color: lightblue;
}

.header{
    background-color: aqua;
    text-align: center;
    font-size: 64px;
    color: beige;
    font-family: siteFont;
}